<div class="container">
    <h1>Restarurante</h1>

    <div class="row justify-content-center">
        <form class="col-sm-10 col-md-4" action="@Url.Action("IniciarSesion", "Login")" method="post">
            <h3>Iniciar Sesión</h3>

            <div class="form-group">
                <label for="telefono">Correo Electrónico</label>
                <input type="email" required name="correo" class="form-control" id="telefono" placeholder="Correo Electrónico" value="@ViewBag.Correo">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="password" required name="clave" class="form-control" id="exampleInputEmail1" placeholder="Cotraseña">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            @if (TempData["Mensaje"] != null) {
                <div class="alert alert-danger" role="alert">
                    @TempData["Mensaje"]
                </div>
            }
            </form>
    </div>
</div>
